@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
margin: 0;
padding: 0;
}

/*ESTO SERIA LA PARTE DE INDEX.HTML*/
.menu-principal {

background-color:rgb(255, 255, 255);
overflow: visible;

}


.etiquetas-menu{ 
padding: 5px 10px 15px 10px;
display: flex;
flex-direction: row;
justify-content:center;
gap: 25px;
 list-style: none;
}

.etiquetas-menu li a:hover { 

color: rgb(219, 146, 77);   

}
.etiquetas-menu li a { 
text-decoration: none;    
text-align: center;
color: rgb(0, 0, 0);
font-family: 'Roboto Slab', serif;
}

.logo img {
 height: 150px;
 width: 150px;  

}

.logo {
text-align: center;
}



.titulos-informacion {
justify-content: center;
text-align: center;
padding: 50px 10px 10px 10px;
margin: 20px 150px 20px 150px;
font-family: 'Roboto Slab', serif;
}

.titulos-informacion h2  {
font-weight: bold;
line-height: 2em;
padding: 50px 0 0 0;
color: rgb(219, 146, 77);  
}

.titulos-informacion h1  {
line-height: 2em;
font: bold;
}


.informacion {
display: flex;
flex-direction: row;
justify-content: center;
padding: 50px 250px 0px 250px;
font-family: 'Roboto Slab', serif;
font-weight: bold;
font-size: small;
gap: 50px;

}

.card img {
height: 200px;
width: 200px;
border-radius: 1em;
background-color: rgba(39, 38, 38, 0.274);
}

.imagenfinal {
display: flex;
flex-direction: column;
justify-content: center;
padding: 50px 10px 10px 10px;
margin: 20px 150px 20px 150px;
text-align: center;
gap: 25px;
font-family: 'Roboto Slab', serif;
font-weight: bold;
}



/* ESTO SERIA LA PARTE DE CULTURA-JW.HTML*/

.historiajw{
padding: 50px 500px 10px 500px;
text-align: center;
font-family: 'Roboto Slab', serif;
}

.historiajw img{
height: 500px;
width: 400px;
border-radius: 1em;
}

.historiajw h1{
color: rgb(219, 146, 77); 
line-height: 3em;
}